rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isManager() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ["admin", "supervisor"];
    }

    match /users/{uid} {
      allow create: if isSignedIn() && request.auth.uid == uid;
      allow read: if isSignedIn() && (request.auth.uid == uid || isManager());
      allow update, delete: if isManager();
    }

    match /config/{docId} {
      allow read: if true;
      allow write: if isManager();
    }

    match /bookings/{bookingId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && (
        isManager() || request.auth.uid == resource.data.createdBy
      );
    }
  }
}
